@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: mediumpurple;
    
}
.card{
    margin: auto;
    width: 250px;
    height: 350px;
    border-radius: 1px solid black;
}
.icon{
    font-size: 55px;
    padding: 5px;
        
}
#number{
    font-size: 125px;
}

