@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: mediumpurple;
    
}
.card{
    margin: auto;
    width: 250px;
    height: 350px;
    padding: 20px;
    border-radius: 1px solid black;
}
.♦ {
    color: red;
}
.♥ {
    color: red;
}
