@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: mediumpurple;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.card{
    margin:auto;
    width: 260px;
    height: 380px;
    border-radius: 1px solid black;
    display: flex;
}
.icon{
    font-size: 55px;
    padding: 0px;
    margin: 0px;
        
}
#number{
    font-size: 125px;
    margin: 0px;
    
}
.body{
    display: flex;
    flex-direction: column;
}
.icon1{
    display: flex;
    justify-content: start;
    margin: 5px;
    margin-left: 7px;
}
.icon2{
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
    margin-right: 7px;
}

